QT_ENV=local
QT_DATA_DIR=./data
QT_RESULTS_DIR=./data/results
QT_API_HOST=127.0.0.1
QT_API_PORT=8000

QUESTDB_HTTP_URL=http://localhost:9000
QUESTDB_PG_DSN=postgresql://admin:quest@localhost:8812/qdb
QUESTDB_ILP_HOST=localhost
QUESTDB_ILP_PORT=9009
